@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SeoulNamsanM", sans-serif;
  font-size: 16px;
}
